<ngx-loading-bar includeSpinner="false" height="6px" color="green" includeSpinner="false"></ngx-loading-bar>
<h1>Pravesh DHolwani<h1>
<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light navbar-custom">
        <a class="navbar-brand">Resume Builder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item p-2 navbar-custom-item"><a class="nav-link" routerLink="usser" routerLinkActive="item-active" >Home</a></li>
                <li class="nav-item p-2 navbar-custom-item"><a class="nav-link" routerLink="admin/personal" routerLinkActive="item-active" >Build My Resume</a></li>
                <li class="nav-item p-2 navbar-custom-item"><a class="nav-link" routerLink="">About</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
